//colors used
//Primary Dark Navy Blue
// #0D1F30
// Secondary Orange
// #DB6C0F
// color - blueish green
// #3B6670
// Color - light blue
// #8BADA3
// color - light tan
// # F0E3C0

//fonts used
//font-family: 'Comfortaa', cursive;
//font-family: 'League Spartan', sans-serif;
$fonts-header: 'Comfortaa', cursive;
$fonts-body: 'League Spartan', sans-serif;
$background-color: #0D1F30;
$primary: #0D1F30;
$accent1: #DB6C0F;
$accent2: #3B6670;
$accent3: #8BADA3;
$text-color: #F0E3C0;
